/* Form container za upis i aturiranje */
.form-container {
    max-width: 600px;
    margin: 0 auto;
    margin-top: 19px;
    /* background-color: #b1befe; */
    background-image: linear-gradient(to right, rgba(0, 119, 255, 0.558) , rgba(59, 43, 240, 0.347));
    border: none !important;
    border-radius: 15px;
    padding: 25px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
  }
  
  /* Form fields - ime klase definirano u forms */
  .form-field {
    margin-bottom: 20px;
  }
  
  /* Form labels */
  .form-label {
    display: block;
    font-size: 19px;
    margin-bottom: 5px;
  }
  
  /* Form inputs */
  .form-input {
    display: block;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid #ccc;
    font-size: 16px;
    box-sizing: border-box;
    transition: border-color 0.3s ease-in-out;
  }
  
  .form-input:focus {
    outline: none;
    border-color: #5161ce;
  }
  
  .form-submit {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 15px;
    background-color: #2b43ca;
    color: #fff;
    font-size: 19px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  .form-submit:hover {
    background-color: #1a2c95;
  }
  
  .header {
    text-align: center;
    margin-top: 35px;
  }
  h1 {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 15px;
    color: #2e313d;
    background-color: #88c0fc;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
  }

/* SLIKA UPLOAD */

.file-input-container {
  position: relative;
  overflow: hidden;
  /* dodano da bude moguc odabir samo na bloku inputa umjesto cijeli red */
  display: inline-block;
}

.file-input-container input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}

.custom-file-upload {
  display: inline-block;
  padding: 10px 20px;
  background: #1485e1;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

  /* ODMOR STIL */

  .h2-odmor, .h3-odmor {
    padding: 10px 20px;
    color: #2e313d;
    margin-bottom: 15px;
  }

  .form-input-kal {
    display: block;
    width: 50%;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid #ccc;
    font-size: 16px;
    box-sizing: border-box;
    transition: border-color 0.3s ease-in-out;
  }
  
  .form-input-kal:focus {
    outline: none;
    border-color: #5161ce;
  }
  .odmor-head {
    text-align: center;
  }

  .form-label-checkbox {
    font-size: 19px;
    margin-bottom: 5px;
  }